<div class="container">
  <h1 class="text-center">Secretary Dashboard</h1>
  <hr />
  <div class="row">
    <div class="col-sm-3 col-3">
      <app-small-card
        [background]="'success'"
        [count]="count"
        [info]="true"
        [mainicon]="'fas fa-user-plus'"
        [link]="'/secretary/getAllPendingAppointment'"
        [title]="'Total Pending Appoinments'"
      ></app-small-card>
    </div>
  </div>
  <br />
  <div class="row">
    <table
      id="dtBasicExample"
      class="table table-striped table-bordered table-sm"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th class="th-sm text-center">Appoinment Id</th>
          <th class="th-sm text-center">Patient Name</th>
          <th class="th-sm text-center">Doctor Name</th>
          <th class="th-sm text-center">Appointment Date</th>
          <th class="th-sm text-center">Appointment Time</th>
          <th class="th-sm text-center">Appointment Status</th>
        </tr>
      </thead>
      <tbody id="tableData" *ngFor="let appoint of appointment">
        <tr *ngIf="appoint.length === 0">
          <td colspan="5" style="text-align: center">No data</td>
        </tr>
        <tr *ngIf="appoint.length !== 0">
          <td class="text-center">{{ appoint.appointmentId }}</td>
          <td class="text-center">{{ appoint.patientName }}</td>
          <td class="text-center">{{ appoint.doctorName }}</td>
          <td class="text-center">{{ appoint.appointmentDate }}</td>
          <td class="text-center">{{ appoint.appointmentTime }}</td>
          <td class="text-center">{{ appoint.appointmentStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
