<div class="container">
  <h1 class="text-center">Patient Dashboard</h1>
  <hr />
  <div class="row">
    <div class="col-sm-3 col-3">
      <app-small-card
        [background]="'success'"
        [info]="true"
        [mainicon]="'fas fa-user-plus'"
        [link]="'/patient/appointment'"
        [title]="'Take Appoinment'"
      ></app-small-card>
    </div>
  </div>
  <div class="row">
    <div class="border backgroundWhite col-12">
      <br />
      <table
        id="dtBasicExample"
        class="table table-striped table-bordered table-sm"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="th-sm text-center">Appoinment Id</th>
            <th class="th-sm text-center">Doctor Name</th>
            <th class="th-sm text-center">Appointment Date</th>
            <th class="th-sm text-center">Appointment Time</th>
            <th class="th-sm text-center">Appointment Status</th>
            <th class="th-sm text-center">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let appoint of appointment" id="tableData">
          <tr *ngIf="appoint.length === 0">
            <td colspan="6" style="text-align: center">No data</td>
          </tr>
          <tr *ngIf="appoint.length !== 0">
            <td class="text-center">{{ appoint.appointmentId }}</td>
            <td class="text-center">{{ appoint.doctorName }}</td>
            <td class="text-center">{{ appoint.appointmentDate }}</td>
            <td class="text-center">{{ appoint.appointmentTime }}</td>
            <td
              class="{{
                appoint.appointmentStatus === 'Approved'
                  ? 'text-center text-success'
                  : 'text-center text-danger'
              }}"
            >
              {{ appoint.appointmentStatus }}
            </td>

            <td *ngIf="appoint.isPaid === 0" class="text-center">
              <div class="text-center">
                <a
                  class="btn btn-success text-white edit"
                  style="cursor: pointer; width: 60px"
                  data-bs-toggle="modal"
                  data-bs-target="#EditRecord"
                  (click)="getAppData(appoint.appointmentId)"
                >
                  <i
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Pay Doctor Fees"
                    class="fas fa-money-bill-wave"
                  ></i>
                </a>
              </div>
            </td>
            <td
              *ngIf="
                appoint.isPaid === 1 &&
                appoint.isPrescribed === 0 &&
                appoint.isVisited === 0
              "
              class="text-center"
            >
              <div class="text-center text-success">Paid</div>
            </td>
            <td
              *ngIf="
                appoint.isPaid === 1 &&
                appoint.isPrescribed === 1 &&
                appoint.isVisited === 1
              "
              class="text-center"
            >
              <div class="text-center">
                <a
                  class="btn btn-primary text-white"
                  style="cursor: pointer; width: 60px"
                  data-bs-toggle="modal"
                  data-bs-target="#appDetails"
                  (click)="Details(appoint.appointmentId)"
                >
                  <i
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Prescription"
                    class="fas fa-notes-medical"
                  ></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- ++++++++++++++++++++++++ -->
<div
  class="modal fade"
  id="appDetails"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          Appointment Details
        </h5>
      </div>
     
        <div class="modal-body">
          <div class="container">
            <div class="text-left">
              <p><b>Appoinment ID:</b> {{appointmentId}}</p>
              <p><b>Doctor Name:</b> {{doctorName}} </p>
              <p><b>Symptom:</b> {{symptom}} </p>
              <p><b>Medication:</b> {{medication}} </p>
              <p><b>Desis:</b> {{diesis}} </p>
              <p><b>Prescription :</b> {{prescription}} </p>
             </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
    </div>
  </div>
</div>

<!-- ++++++++++++++++++++++++ -->
<div
  class="modal fade"
  id="EditRecord"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          Appointment Payment
        </h5>
      </div>
      <form [formGroup]="paymentForm" (ngSubmit)="pay()">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Appointment Id</label>
            <input
              formControlName="appointmentId"
              class="form-control"
              readonly
            />
          </div>
          <div class="form-group">
            <label class="control-label">Amount</label>
            <input formControlName="amount" class="form-control" readonly />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            #myModalClose
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Pay</button>
        </div>
      </form>
    </div>
  </div>
</div>

