
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="align-middle text-center text-danger">You do not have access to this resource</h1>
    <p class="align-middle text-center">Access Forbiden <b class="text-danger">403</b></p>

