
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Success != null)
{
    <span class="text-end alert alert-success">@ViewBag.Success</span>
    <br />
    <br />
}
<h1 class="text-center">Welcome to <b>Bhutan</b> hospital</h1>

