
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center">Admin Dashboard</h1>
<hr />
<div class="row">
    <div class="col-sm-3 col-3">
         small card 
        <div class="small-box bg-success">
            <div class="inner">
                <h3 id="patientCount"></h3>

                <p>Total Patients</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-plus"></i>
            </div>
            <a asp-route="GetAllPatient" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-3 col-3">
         small card 
        <div class="small-box bg-primary">
            <div class="inner">
                <h3 id="doctorCount"></h3>

                <p>Total Doctors</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-md"></i>
            </div>
            <a asp-route="GetAllDoctor" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-3 col-3">
         small card 
        <div class="small-box bg-danger">
            <div class="inner">
                <h3 id="specializationCount"></h3>

                <p>Total Specialization</p>
            </div>
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <a asp-route="GetAllSpecialization" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-3 col-3">
         small card 
        <div class="small-box bg-warning">
            <div class="inner">
                <h3 id="balance"></h3>

                <p>Company Balance</p>
            </div>
            <div class="icon">
                <i class="fas fa-wallet"></i>
            </div>
        </div>
    </div>
</div>
<hr />
<div id="report"></div>

@section Scripts {
    <script src="~/js/AdminDashboard.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

