<div class="container">
    <h1>Doctor's Appointment</h1>
<hr />
<div class="row">
    <div class="col-12">
        <form #appointmentForm="ngForm" (ngSubmit)="appointment(appointmentForm)">
            <div class="row mb-2">
                <div class="form-group col-md-6">
                    <label class="control-label">Specialization</label>
                    <select class="form-control form-select" id="specialization" name="specialization" [(ngModel)]="selected" (ngModelChange)="HandleChange($event)">
                        <option *ngFor="let spec of specializations" value="{{spec.oId}}">{{spec.specialiaztion}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label  class="control-label">Doctor</label>
                    <select ngModel name="doctorId" class="form-control form-select" id="doctor" >
                        <option *ngFor="let doc of doctors" value="{{doc.drId}}">{{doc.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="form-group col-md-6">
                    <label  class="control-label">Appointment Date</label>
                    <input type="date" ngModel name="appointmentDate" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Appoinment Time</label>
                    <input type="time" ngModel name="appointmentTime" class="form-control" />
                </div>
            </div>
            <div class="row mb-2">
                <div class="form-group col-md-6">
                    <label  class="control-label">Symptom</label>
                    <textarea  ngModel name="symptom" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label  class="control-label">Medication</label>
                    <textarea ngModel name="medication" class="form-control" rows="3"></textarea>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
